.article-teaser,
%article-teaser {
  @extend .duk-mb--3;

  &__img {
    width: 100%;
    max-height: 200px;
  }

  &__title {
    text-decoration: none;
    height: 100%;
    color: map-get($grays, 'dark');
  }

  &__body {
    margin: 0;
    padding: 0.5em 1em;
  }
}

.node--type-article {
  @extend %article-teaser;

  .group-left {
    width: 100%;

    @include duk-breakpoint('medium') {
      width: 20%;
    }

    img {
      @extend %article-teaser__img;
    }
  }

  .group-right {
    width: 100%;

    @include duk-breakpoint('medium') {
      width: 80%;
    }

    h4 {
      padding: 0 0.5em;
      margin: 0;
    }

    a {
      @extend %article-teaser__title;
    }

    p {
      @extend %article-teaser__body;
    }

    .field--name-node-post-date {
      color: map-get($grays, 'medium');
      padding: 0 1em;
    }
  }
}
