.hero-banner,
%hero-banner {
  position: relative;
  margin: 0 auto;

  &__image {
    min-height: 20em;
  }

  &__text {
    position: absolute;
    @extend %duk-text-align-center;
    @extend %duk-text--large;
  }

  &__button {
    position: absolute;
  }
}

#block-herobanner div {
  @extend %hero-banner;

  .field--name-field-hero-image img {
    @extend %hero-banner__image;
  }

  .field--name-field-hero-text {
    @extend %hero-banner__text;
    top: 25%;
    left: 0;
    right: 0;
    width: 60%;
  }

  .field--name-field-hero-button {
    @extend %hero-banner__button;
    width: 10em;
    left: 0;
    right: 0;
    top: 55%;

    @include duk-breakpoint('large') {
      top: 40%;
    }

    a {
      @extend .button--primary;
      width: 100%;
    }
  }
}
