.island,
%island {
  @extend %duk-container--large;
  padding: 1em 0;

  &__heading {
    width: 100%;
    text-align: center;
    padding: 1em 0;
  }

  &__button {
    @extend .button--secondary;
  }
}

.views-element-container {
  &>div {
    @extend %island;
  }

  h2 {
    @extend %island__heading;
  }

  .view-footer {
    @extend .duk-mb--2;
    text-align: center;
  }

  .views-display-link {
    @extend %island__button;
  }
}

.node--type-home-page .views-element-container {
  &:nth-of-type(odd) {
    background: map-get($grays, 'light');
  }
}
