.island,
%island {
  @extend %duk-container--x-large;
  padding: 0 1em;

  &__heading {
    @extend .duk-mb--2;
    width: 100%;
    text-align: center;
  }
}

.views-element-container {
  &:nth-of-type(odd) {
    background: map-get($grays, 'light');
  }

  &>div {
    @extend %island;
  }

  h2 {
    @extend %island__heading;
  }
}
