.site-branding,
%site-branding {
  @extend %duk-nav--horizontal;

  &--logo {
    height: 60px;
  }

  &--slogan {
    text-transform: uppercase;
    text-decoration: none;
  }
}

#site-branding {
  @extend %site-branding;

  #logo a {
    padding: 0;

    img {
      @extend %site-branding--logo;
    }
  }

  .site-name-slogan .site-name a {
    @extend %site-branding--slogan;
    color: #fff;
  }
}
