// Nav
// -------------------------------------------------------

// Nav main
//
// Defines the main nav style.
//
// Style guide: Components.nav
//
// Markup:
//  <div id="main-nav">
//    <ul class="menu">
//      <li><a href="#">Home</a></li>
//      <li><a href="#">About</a></li>
//      <li><a href="#">Contact</a></li>
//    </ul>
//  <div>
.main-nav,
%main-nav {
  float: right;

  &__menu {
    @extend %duk-nav--horizontal;
  }

  &__item {
    color: map-get($grays, 'medium');
    text-decoration: none;
    line-height: $navbar-height;
    padding: 0 1.2em;

    &.is-active {
      color: map-get($grays, 'light');
    }

    &:hover {
      color: map-get($grays, 'light');
    }
  }
}

.menu--main {
  @extend %main-nav;
  z-index: 10;

  .menu {
    @extend %main-nav__menu;
    position: relative;
  }

  .menu-item {
    display: none;

    @include duk-breakpoint('small') {
      display: block;
    }

    a {
      @extend %main-nav__item;
    }
  }

  .hamburger {
    @extend %main-nav__item;
    @extend .duk-icon-navicon;
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
      cursor: pointer;
    }

    @include duk-breakpoint('small') {
      display: none;
    }
  }

  &.is-open {
    float: none;
    position: relative;

    .menu {
      @extend %duk-nav--vertical;
      position: absolute;
      width: 100%;
      background: map-get($grays, 'dark');
      top: $navbar-height;
      transform: translateY(0);
    }

    .menu-item {
      display: block;
    }
  }
}
